#box {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	margin: 0 auto;
	text-align: center;
}

#cat {
	height: 400px;
	width: 400px;
	border: 1px solid black;
	margin: 0 auto;
	text-align: center;
}

#hidden {
    visibility: hidden;
}